.profile {
    background-image: url('../img/DSCF6901.jpg'); /* 画像のURLを指定 */
    background-size: cover; /* 画像を領域に合わせて表示 */
    background-position: center; /* 画像を中央に配置 */
    width: 100%;
    height: 600px; /* 適切な高さを指定（必要に応じて調整） */
}

div.profile-box{
    width: 50%;
    height: 900px;
    padding: 30px;
    background: #739999;
    position: relative;/*親要素に記入*/
}
